---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---
<br><br>

<Layout title="OSUCH | Open Source Universidad de Chile">
	<Navbar/>
	<main>
		<h1>Open Source <span class="text-gradient">UCH</span></h1>
		<>
		<p class="instructions">
			Comunidad de estudiantes de <strong><a href="https://ing.uchile.cl">Beauchef</a></strong>
			con toda la motivaci贸n de crear<br />
			e impulsar proyectos de c贸digo abierto para la Universidad de Chile.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/open-source-uch/"
				title="Org de GitHub"
				body="Sitio web con el c贸digo fuente de todos nuestros proyectos."
			/>
			<Card
				href="https://t.me/+PLukDCY-io5hNjNh/"
				title="Grupo de Telegram"
				body="Conversaciones de Open Source con la comunidad de la UChile."
			/>
			<Card
				href="https://osec.cl/"
				title="OSEC"
				body="La organizaci贸n que respalda nuestra iniciativa."
			/>
			<Card
				href="https://github.com/open-source-uch/UbiCate-v2/"
				title="UbiCate UChile!"
				body="Fork de UbiCate para la Universidad de Chile."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
