---
---
<footer style="background-color: rgb(223, 65, 64);" class="text-white py-8">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-start">
      <!-- Sección Open Source OSUCH -->
      <div class="flex items-center space-x-4">
        <img src="../logo.png" alt="Logo Open Source OSUCH" class="h-24 w-24">
        <div>
          <h2 class="text-2xl font-bold">Open Source OSUCH</h2>
            <p class="text-center text-base leading-relaxed text-gray-100">
            Comunidad de estudiantes de la Universidad de Chile <br> apasionados por realizar proyectos de código abierto.
            </p>
        </div>
      </div>

      <!-- Sección OSUCH -->
      <div class="w-1/6">
        <h3 class="font-semibold text-lg mb-4">OSUCH</h3>
        <ul class="space-y-2">
          <li><a href="/" class="footer-link">Website</a></li>
          <li><a href="/about" class="footer-link">About</a></li>
          <li><a href="/projects" class="footer-link">Projects</a></li>
        </ul>
      </div>

      <!-- Sección Desarrolladores -->
      <div class="w-1/6">
        <h3 class="font-semibold text-lg mb-4">DESARROLLADORES</h3>
        <ul class="space-y-2">
          <li>Malla API</li>
          <li>Printer GUI</li>
          <li>UbiCate Uchile!</li>
          <li>Desarrollo web</li>
        </ul>
      </div>

      <!-- Sección Contacto -->
      <div class="w-1/6">
        <h3 class="font-semibold text-lg mb-4">CONTACTO</h3>
        <ul class="space-y-2">
          <li><a href="https://t.me/+PLukDCY-io5hNjNh/" class="footer-link">Telegram</a></li>
          <li><a href="mailto:uch.osec.cl" class="footer-link">Email</a></li>
        </ul>

        <!-- Síguenos -->
        <div class="mt-4 flex items-center space-x-2">
            <span class="font-semibold">Síguenos</span>
            <a href="https://www.linkedin.com/company/open-source-uch" target="_blank" class="text-blue-500 hover:text-blue-700">
            <i class="fab fa-linkedin-in"></i> <!-- Icono de LinkedIn -->
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>


<style>
    .footer-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    transition: color 0.6s, background-color 0.6s;
    }

    .footer-link:hover,
    .footer-link:focus {
    color: rgb(var(--accent-light));
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    }

    .nav-item:is(:hover, :focus-within) .nav-link {
        opacity: 1;
    }
</style>